<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TdB_Odyssee.Properties.Settings.TdbOdysseeConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=TdbOdyssee;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>