<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TdB_Odyssee.Properties.Settings.TdbOdysseeConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=TdbOdyssee;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TdB_Odyssee.Properties.Settings.MedocConnectionString"
            connectionString="DATA SOURCE=MEDOC;PASSWORD=MEDOC;PERSIST SECURITY INFO=True;USER ID=MEDOC"
            providerName="Oracle.ManagedDataAccess.Client" />
        <add name="TdB_Odyssee.Properties.Settings.csDir" connectionString="C:\TDBODYSSEE" />
        <add name="TdB_Odyssee.Properties.Settings.csFilePath" connectionString="C:\TDBODYSSEE\FILES" />
        <add name="TdB_Odyssee.Properties.Settings.csResultstFilePath"
            connectionString="C:\TDBODYSSEE\EXPORT_RESULTATS" />
        <add name="TdB_Odyssee.Properties.Settings.csExportFilePath"
            connectionString="C:\TDBODYSSEE\EXPORT_TDB" />
    </connectionStrings>
</configuration>